body,div,span,ul,ol,li,h1 {margin:0;padding:0}
li{list-style-type:none;}
a,a:visited{text-decoration:none;}

@font-face
{
	font-family: 'StrangeloveText';
	src: url('/static/bigday/css/strangelove-text.otf');
}

body
{
	background: #FFFFFF;
	color: #00295D;
	font: 14px Verdana, Arial, Sans-Serif;
}

#page_area
{
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#navigation
{
	font-family: "StrangeloveText";
	font-size: 30px;
	font-weight: bold;
	background: url('/img/bigday/bridge-small.jpg') no-repeat;
	background-position: top center;
	padding: 95px 0 0 0;
	float: left;
	width: 250px;
}

#navigation a,
#navigation a:visited
{
	color: #00295D;
}

#content
{
	background: url('/img/bigday/bigday-small.jpg') no-repeat;
	background-position: top right;
	width: 640px;
	padding: 40px 0 0;
	float: right;
}

h1
{
	font-family: "StrangeloveText";
	font-size: 60px;
	line-height: 0px;
	margin: 0 0 20px 0;
	color: #EA6D1F;
}

a,
a:visited,
.bridge
{
	color: #EA6D1F;
}
