body,div,span,ul,ol,li,h1 {margin:0;padding:0}
li{list-style-type:none;}
a,a:visited{text-decoration:none;}

@font-face
{
	font-family: 'StrangeloveText';
	src: url('/static/css/strangelove-text.otf');
}

body
{
	background: #FFFFFF;
	color: #00295D;
	font: 14px Verdana, Arial, Sans-Serif;
}

#page_area
{
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#navigation
{
	font-family: "StrangeloveText";
	font-size: 35px;
	background: url('/img/bigday/bridge-small.jpg') no-repeat;
	background-position: top center;
	padding: 120px 0 0 0;
	float: left;
	width: 250px;
	text-align: center;
}

#navigation a,
#navigation a:visited
{
	color: #00295D;
}

#navigation a:hover
{
	font-weight: bold;
}

#navigation li
{
	border-left: 1px solid #EA6D1F;
	border-right: 1px solid #EA6D1F;
}

#navigation li:first-child
{
	padding-top: 20px;
}

#navigation li:last-child
{
	padding-bottom: 15px;
}

#content
{
	width: 600px;
	padding: 35px 0 0;
	float: right;
}

.fancy
{
	font-family: "StrangeloveText";
	font-size: 35px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.index_name
{
	font-size: 50px;
}

.fancy img
{
	vertical-align: top;
	padding-top: 10px;
}

.justify
{
	width: 212px;
	text-align: center;
}

.big
{
	font-size: 60px;
	line-height: 20px;
	padding-top: 5px;
	margin-bottom: -15px;
}

h1
{
	font-family: "StrangeloveText";
	font-size: 60px;
	line-height: 60px;
	margin: 0 0 20px 0;
	color: #EA6D1F;
}

a,
a:visited,
.bridge
{
	color: #EA6D1F;
}

#mapsHolder
{
	height: 400px;
}

#info
{
	display: none;
}
